apiVersion: v1
kind: Secret
metadata:
  name: tanzu-cluster-essentials-bootstrap-credentials
  namespace: tanzu-cluster-essentials-bootstrap
type: Opaque
stringData:
  INSTALL_REGISTRY_USERNAME: johndoe@corp.com
  INSTALL_REGISTRY_PASSWORD: changeme
